/*!
Theme Name: SWDental Light
Theme URI: https://www.sw-web.it
Author: Underscores.me
Author URI: https://www.sw-web.it
Description: Description
Version: 1.0.0
Requires PHP: 7.4
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: swdental-light
Tags: custom-background, custom-logo, custom-menu, featured-images, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}



/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* ! Typography */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	/*margin: 0 0 1.5em 3em;*/
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus,
a:active {
	color: #191970;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}



/* ****************************** */
/* ! STYLE LOCAL */
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
}

ul, li{
	text-transform: none;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

.headline{
	font-size: 4rem;
}
.title{
	font-size: 2.5rem;
}
.subtitle{

}

@media (max-width: 768px) {
	.headline{
		font-size: 3rem;
	}
	.title{
		font-size: 1.5rem;
	}
	.subtitle{

	}
}

header {
    background-color: #f0f8ff;
    /*margin: -8px;*/
    padding: 1.5rem 0;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
		z-index: 100;
}

header > div:nth-last-child(2) {
    margin-left: auto;
}

.container{
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.site-branding{
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.logo img{
    border-radius: 50%;
    width: 3rem;
    margin: 0 1.5rem;
}

.identity{
    margin-right: 1.5rem;
}

.menu{
    list-style: none;
}

.menu > li:nth-child(n){
    margin-left: 0.5rem;
    border-left: 1px solid #fff;
    padding-left: 1.5rem;
    display: inline-block;
}
.menu a,
.menu-social a{
    text-decoration: none;
    color: #555;
}

.menu li a{
    transition: all .3s ease;
}

.menu-social{
    margin: 0 2rem;
}

button{
    padding: 0.5rem 2rem;
    background-color: #8dcaff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    background-color: #efefef;
}

.button-empty{
    background-color: transparent;
    border: 2px solid #8dcaff;
    text-transform: uppercase;
    margin: 0.6rem;
}

.button-empty a {
  color: #222;
  text-decoration: none;
}

button.contact{
    margin-left: auto;
    text-transform: uppercase;
}

button.services{
    text-transform: uppercase;
}

button.services a{
    text-decoration: none;
    color: #222;
}

.hero{
    width: 100%;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding: 9rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}




.container-box {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    align-self: center;
    justify-self: center;
}

.container-box > div {
    /*text-align: center;*/
}

/*.container-box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
}*/
.container-box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 0.6rem;
    margin-top: -4%;
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
}

.container-box-info > div {
    align-self: center;
    justify-self: center;
}

.container-box h2{
    color: #222;
    padding: 0 0.6rem 0 0.6rem;
    font-weight: bold;
}

.container-box h5{
    color: #4788E2;
    text-transform: uppercase;
    padding: 1.5rem 0.6rem 1rem 0.6rem;
    font-size: 0.75rem;
}

.container-box p{
    line-height: 1.5rem;
}

p{
    margin: 0.6rem;
}

.hero-text{
    max-width: 1200px;
    width: 100%;
    /*display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;*/
    align-self: center;
}

.hero-text h1{
    color: #222;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.2;
}

.hero-text p{
    color: #111;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 0.75rem;
    margin: 0;
    letter-spacing: 2px;
}

.hero-text button{
 width: 250px;
}

.container-box-services{
    background-color: #091D3E;
    color: #fff;
    min-height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5em 0.5rem;
    flex-wrap: wrap;
}

.service-img{
    background-color: #fff;
    border-radius: 50%;
    width: 300px;
		object-fit: cover;
}

.container-box-services h2{
    color: #fff;
    padding: 0 0.6rem 1.5rem 0.6rem;
    font-weight: bold;
    font-size: 3rem;
}

.container-box-services h5{
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem 0.6rem 0 0.6rem;
    font-size: 0.75rem;
}

.container-box-services-text{
    padding-bottom: 5rem ;
}

.container-box-services-list{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: 3rem 2rem;
    margin-top: -9rem;
    max-width: 1200px;
    flex-wrap: wrap;
}

.container-box-services-list > div {
    align-self: center;
    justify-self: center;
    padding: 3rem;
}

.service-card{
    text-align: center;
    border-right: 1px solid aqua;
    min-width: 12rem;
    width: 25%;
}

.container-box-services-list > div:nth-last-child(1) {
    border-right: 0;
}

.services-button{
    display: flex;
    justify-content: center;
    align-items: self-start;
    margin-top: -6rem;
}

.container-box-foto {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 3rem 2rem;
  margin-top: 3rem;
  max-width: 1200px;
  flex-wrap: wrap;
}

.foto-card{
    text-align: center;
    min-width: 12rem;
    width: 33%;
}

.foto-txt {
  text-align: left;
}

.foto-card img{
    border-radius: 8px;
}

/* ! TEAMS ACTION */
.container-box-team{
    display: flex;
    justify-content: space-around;
    /*align-items: flex-start;*/
    flex-direction: column;
    margin: 5rem 3rem;
    width: 1200px;
}

.container-box-team-list{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.team-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 2rem;
    text-align: center;
    width: 22rem;
    margin: 0.5rem;
		transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}
.team-card:hover{
	transform: scale(1.05);
}

.team-card h2{
    padding: 0;
    margin: 0;
}

.team-card h5{
    color: #ccc;
    padding: 0.8rem;
    margin: 0;
}

.team-img{
    max-width: 200px;
}

.team-social-box{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    width: max-content;
    margin: 0.5rem auto;
}

.team-social-box a{
    color: #aaa;
}

.team__icon{
	width: 16px;
	margin: 0 0.2rem;
}

/* ! NEWS ACTIONS */
.container-box-news{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin: 5rem 3rem;
	width: 1200px;
}

.container-box-news-list{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
		align-items: stretch;
    flex-wrap: wrap;
		margin-top: 2rem;
}

.news-card{
		padding: 1rem;
    width: 20rem;
		transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}
.news-card:hover{
	transform: scale(1.05);
}
.news-img{
	background-size: cover;
	border-bottom: 10px solid #33B8CA;
}
.news-card-info{
	font-size: 0.8rem;
}

/* ! MAP ACTION */
.container-box-maps{
    background-color: #091D3E;
    color: #fff;
    min-height: 20rem;
    width: 100%;
		padding: 0;
    display: flex;
    flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
}
.container-box-contatti{
	align-self: center;
	flex: flex-grow 1 50;
	width: 40%;
	padding: 100px 0;
}
#map {
  height: auto;
	min-height: 500px;
  width: 50%;
}

/* ! FORM */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
textarea,
select {
	width: 90%;
	display: block;
	margin: 0.5rem;
	padding: 0.8rem 5px;
	background: #223452;
	color: #bdc2cb;
	border: 0;
	border-radius: 2px;
}
.wpcf7-list-item {
  display: inline-block;
  margin: 0 ;
	font-size: 10px;
	opacity: 0.7;
	line-height: 1.2;
}
.wpcf7-form-control.wpcf7-textarea{
	width: 100%;
	height: 150px;
}
.form-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 400px;
}
.col-100{
	width: 100%;
}.col-50{
	width: 50%;
}

/* ! FOOTER */
.site-info{
    background-color: #273955;
    color: #FFFFFF;
    padding: 3rem;
}

.container-footer{
  display: flex;
  justify-content: center;
  margin: 0;
	margin-top: 2rem;
	padding-top: 4rem;
  align-self: center;
  justify-self: center;
  background-color: #152847;
  align-content: center;
  width: 100%;
}

.container-box-footer{
    display: flex;
    justify-content: center;;
    align-items: strech;
    margin: 3rem 1rem;
    width: 1200px;
    flex-wrap: wrap;
}

.box-footer{
    padding: 1rem 2rem;
    text-align: center;
    width: 15rem;
    margin: 0
}

.box-footer h3,
.box-footer p{
    color: #ffffff;
}

.container-box-footer > div:nth-child(odd) {
    background: #142644;
}

.container-box-footer > div:nth-child(even) {
    background: #1A2C4B
}

.post-list {
  padding: 8rem 3rem;
  max-width: 1200px;
  display: grid;
}

.post-title {
  background-color: #101070;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}


@media screen and (max-width: 675px) {
    .container-box-info {
        width: 90%;
    }

    .site-branding{
        display: none;
    }

    .service-card{
        min-width: auto;
        width: 50%;
    }

    .container-box-services-list > div{
        padding: 0;
    }

	.hero{
    	padding: 9rem 2rem !important;
    }

	.container-box-services{

	}

	.foto-card{
		width: 100%;
	}

	.container-box-foto{
		flex-direction: column;
	}

	.box-footer{
		width: 20rem;
	}

	#map {
	  height: auto;
	  width: 100%;
	}

	.container-box-contatti {
	  width: 100%;
	  padding: 100px 0;
	  overflow: hidden;
	}
}


/* ! HELPERS */
.p-0{
	padding: 0;
}
.p-1{
	padding: 1rem;
}
.m-0{
	margin: 0;
}
.m-1{
	margin: 1rem;
}
